/* 
Here we are creating a flat-specificity tree - however, 
our post CSS temp output creates descendent selectors.
It works in the browser, however it's against BEM philosophy. 
To NOT do that, we can use an "&" ampersand instead of the full name. 
In this version, you can just typ eout the full name and it won't make descendant selectors,
but the & is a shortcut of sorts for nesting
*/

.hero-big {
	position: relative;
	border-bottom: 10px solid $mainPink;

	&__image {
			/*otherwise, default for images is inline, as it's trying to leave room for type*/
		display: block;
	}
	&__text-content {
	position: absolute;
	top: 55%;
	/*transform: translateY(-50%);*/
	left: 0;
	width: 100%;
	text-align: center;

	}

	&__title {
	font-weight: 300;
	color: white;
	margin: 0;
	font-size: 1.1rem;
	
	 	@mixin atSmall {
		font-size: 1.8rem;
		}
		@mixin atMedium {
		font-size: 2rem;
		}
		@mixin atLarge {
		font-size: 3rem;
		}

	}
	/*default here is for screens <530px width*/
	&__subtitle {
	font-weight: 300;
	color: white;

	font-size: 1.1rem;
	margin: 0;
		/*screen below has to be 530px wide at least */
		@mixin atSmall {
		font-size: 1.4rem;
		}
		@mixin atMedium {
		font-size: 1.5rem;
		}
		@mixin atLarge {
		font-size: 2.2rem;
		}
	}

	&__description {
	font-weight: 100;
	color: white;
	font-size: 1.1rem;
	margin: 0;
	/* black shadow 10% visible */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
	/*measurement of size of text (480px / 16px (default))*/
	max-width: 30rem;
	/*align to the center*/
	margin-right: auto;
	margin-left: auto;

	@mixin atSmall {
		font-size: 1.1rem;
	}
	@mixin atMedium {
		font-size: 1.3rem;
	}
	@mixin atLarge {
		font-size: 1.5rem;
	}
	}
}

/* 
B - Block
E - Element
M - Modifier

Although it's funky, it makes everything a one-to-one on targeting,
so you do't inherit any funky parent class styles
You're essentially removing the C in CSS. 
Not sure if I'm a fan, but the clarity when 
referencing back, say years later, would be nice..
You can create single-responsibility blocks (eg: a div column block)
"But what about HTML semantics?!" you may be asking..
"Class names cannot be unsemantic" - Nicholas Gallagher
"Class names should communicate useful information to developers."

if those blocks above were written in an unested way, with their full names they'd be like so:

.big-hero__subtitle {
	font-weight: 300;
	color: white;
	font-size: 2.0rem;

}
*/


